<h5>{{ title }}</h5>
<br>
<br>
<div class="row">
  <form  class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">  
  <div>
      <div class="row">
        <div class="input-field col s4">
            <i class="material-icons prefix">input</i>
          <input placeholder='0000' id="ip" type="number" class="validate"
                 required 
                 maxlength="12" 
                 minlength="4" 
                 [(ngModel)]="ipcosa" formControlName="ip"
                 [class.invalid]="form.controls['ip'].touched
                  && !form.controls['ip'].valid">
          <label for="ip"
                 [class.active]="numero.ip"
                 data-error="Ip Erronea">
             IP (Ingrese cadena numeros, valido solo hasta 12 numeros)
          </label>
        </div>
      </div>
  </div>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Enviar <i class="material-icons right">send</i>
    </button>
      </div>
    </div>
  </form>

  <form  class="col s12"  *ngIf="lista" (ngSubmit)="guardarIps()">
       <div>          
            <table>
              <thead>
              <tr>
                <th data-field="name">Ip generada</th>
              </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let li of lista">
                  <td>{{ li }}</td>
                </tr>
              </tbody>
            </table>

      </div>
          <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Guardar Ips <i class="material-icons right">send</i>
    </button>
  </form>
</div>


 
